@page
<select name="Pipes" id="pipes" hidden>
    <option value="None">None</option>
    <option value="BasePipe">BasePipe</option>
    <option value="StraightPipe">StraightPipe</option>
    <option value="StraightPipeParallel">StraightPipeParallel</option>
    <option value="TransformPipe">TransformPipe</option>
    <option value="BatchPipe">BatchPipe</option>
    <option value="BatchPipeWithTrigger">BatchPipeWithTrigger</option>
</select>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/matter.js"></script>
<script src="~/js/pipe.js">
</script>