@page
<select name="Pipes" id="pipes">
    <option value="StraightPipe">StraightPipe</option>
    <option value="StraightPipeParallel">StraightPipeParallel</option>
    <option value="BatchPipe">BatchPipe</option>
    <option value="TransformPipe">TransformPipe</option>
</select>
<div id="app"></div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/matter.js"></script>
<script src="~/js/pipe.js">
</script>